<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#address">Address</a></li>
    <li><a data-toggle="tab" href="#contactUs">Contact us</a></li>
</ul>

<div class="tab-content">
    <div id="address" class="tab-pane fade in active">
       @await Component.InvokeAsync("WebsiteContactUsDetail")
    </div>
    <div id="contactUs" class="tab-pane fade">
       @await Component.InvokeAsync("VistorContactUs")
    </div>
</div>